@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "_ClientLayout";
}


<!-- End Header/Navigation -->
@{

    await Html.RenderPartialAsync("_Hero");

}
<h1>@ViewData["Title"]</h1>


@TempData["Message"]
<p>Use this page to detail your site's privacy policy.</p>

@section CSS{
    <style>
        *{
            color: green !important;
        }
    </style>
    }


@{

    await Html.RenderPartialAsync("_Hero");

}