<form action="#" class="row g-3">
	<div class="col-auto">
		<input type="text" class="form-control" placeholder="Enter your name">
	</div>
	<div class="col-auto">
		<input type="email" class="form-control" placeholder="Enter your email">
	</div>
	<div class="col-auto">
		<button class="btn btn-primary">
			<span class="fa fa-paper-plane"></span>
		</button>
	</div>
</form>
